version: '3.8'

services:
  jackett:
    container_name: jackett
    privileged: true
    build:
      context: .
      dockerfile: ${AMD_OR_AARCH}.Dockerfile
    volumes:
      - ./config:/config
      - ./blackhole:/blackhole
    environment:
      - VPN_ENABLED=yes
      - VPN_TYPE=wireguard
      - LAN_NETWORK=192.168.0.0/24
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    ports:
      - "9117:9117"
    restart: unless-stopped
